<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="tv" class="com.myspring.step03.SamsungTV">      <!-- step03에서 사용 -->
    	<constructor-arg ref="so"></constructor-arg>
    </bean> 
    <bean id="so" class="com.myspring.step03.SonySpeaker"></bean>
	<bean id="apple" class="com.myspring.step03.AppleSpeaker"></bean> 

</beans>
